
<div id="messageModal" class="modal fade">
  <div class="modal-dialog">
      <div id="messageModalContent" class="modal-content">
        <a {{action 'closeModal' weight}}>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </a>
        <h5 class="modal-title">{{modalMessage}}</h5>
      </div>
  </div>
</div>

<div id="deleteModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete weight</h4>
      </div>
      <div class="modal-body">
          <p>Warning!!! This action is permanent and cannot be reverted.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <a {{action 'delete' weight}} class="black" title="Delete Weight">
          <button type="button" class="btn btn-primary">
            Delete
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="graph">
  {{ember-chart type='Line' data=chartData
                height=700 width=680 legend=false
                options=chartOptions}}
  <ul class="line-legend">
    <li>
      <span class="label" style="background-color:#AAA;">&nbsp;</span>
      Current weight
    </li>
    <li>
      <span class="label" style="background-color:#9AF;">&nbsp;</span>
      Target weight
    </li>
    <li>
      <span class="label" style="background-color:#FF0000;">&nbsp;</span>
      Obese
    </li>
    <li>
      <span class="label" style="background-color:rgba(255,127,0,0.5);">&nbsp;</span>
      Overweight/Underweight
    </li>
    <li>
      <span class="label" style="background-color:rgba(0,255,0,0.5);">&nbsp;</span>
      Normal weight
    </li>
  </ul>
</div>

<div id="left_container">
  <div id="control_panel">
    <table class="weights table table-condensed table-hover">
      <thead>
        <tr class="table_nav">
          <td colspan="2">
            <div id="table_title">Stats</div>
          </td>
        </tr>
      </thead>
      <tbody>
        {{#each controller.stats as |stat|}}
          <tr>
            <td class="stats_title">Start weight(kg)</td>
            <td>
              {{weight-format stat.startWeight}}&nbsp;
              ({{date-format stat.accountCreated}})
            </td>
          </tr>
          <tr>
            <td class="stats_title">Current weight(kg)</td>
            <td>
              {{weight-format stat.currentWeight.weight}}&nbsp;
              ({{date-format stat.currentWeight.weighed_date}})
            </td>
          </tr>
          <tr>
            <td class="stats_title">Target weight(kg)</td>
            <td>
              {{weight-format stat.targetWeight}}&nbsp;
              {{#if stat.dateToTarget}}
                (~{{date-format stat.dateToTarget}})
              {{/if}}
            </td>
          </tr>
          <tr>
            <td class="stats_title">Weight to target(kg)</td>
            <td>
              {{weight-format stat.weightToTarget}}&nbsp;
              {{#if stat.dateToTarget}}
                (~{{date-format stat.dateToTarget}})
              {{/if}}
            </td>
          </tr>
          <tr>
            <td class="stats_title">Lowest weight(kg)</td>
            <td>
              {{weight-format stat.minWeight.weight}}&nbsp;
              ({{date-format stat.minWeight.weighed_date}})
            </td>
          </tr>
          <tr>
            <td class="stats_title">Highest weight(kg)</td>
            <td>
              {{weight-format stat.maxWeight.weight}}&nbsp;
              ({{date-format stat.maxWeight.weighed_date}})
            </td>
          </tr>
          <tr>
            <td class="stats_title">Change last week(kg)</td>
            <td class="{{table-cell-class stat.changeLastWeek
                         controller.currentWeight.weight
                         controller.targetWeight}} weight">
              {{weight-format stat.changeLastWeek}}
            </td>
          </tr>
          <tr>
            <td class="stats_title">Change last month(kg)</td>
              <td class="{{table-cell-class stat.changeLastMonth
                           controller.currentWeight.weight
                           controller.targetWeight}} weight">
              {{weight-format stat.changeLastMonth}}
            </td>
          </tr>
          <tr>
            <td class="stats_title">Change last year(kg)</td>
              <td class="{{table-cell-class stat.changeLastYear
                           controller.currentWeight.weight
                           controller.targetWeight}} weight">
              {{weight-format stat.changeLastYear}}
            </td>
          </tr>
          <tr>
            <td class="stats_title">Change greatest(kg)</td>
              <td class="{{table-cell-class stat.changeGreatest
                           controller.currentWeight.weight
                           controller.targetWeight}} weight">
              {{weight-format stat.changeGreatest}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div>
    <table class="weights table table-condensed table-hover">
        <thead>
          <tr class="table_nav">
            <td colspan="5">
              {{#link-to 'weights.new' class="pull-right" title="Add Weight"}}
                <i id="add_weight" class="glyphicon glyphicon-plus"></i>
              {{/link-to}}
              <div id="table_title">
                <span title="Previous Page"
                  {{bind-attr class=":pull-left prevDisabled:control_disabled:control"}}
                  {{action "prevPage" on="click"}}>
                  &laquo;&laquo;
                </span>
                Weights
                <span title="Next Page"
                  {{bind-attr class=":pull-right nextDisabled:control_disabled:control"}}
                  {{action "nextPage" on="click"}}>
                  &raquo;&raquo;
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td class="date_width"><strong>Date</strong></td>
            <td class="weight_width_20"><strong>Weight(kg)</strong></td>
            <td class="weight_width_28"><strong>Wk Change(kg)</strong></td>
            <td class="text-center">-</td>
          </tr>
        </thead>
        <tbody>
          {{#each controller as |weight|}}
            <tr>
              <td>
                {{date-format weight.date}}
              </td>
              <td class="weight">
                {{weight-format weight.weight}}
              </td>
              <td class="{{table-cell-class weight.change
                           controller.currentWeight.weight
                           controller.targetWeight}} weight">
                {{#if weight.change}}
                  {{weight-format weight.change}}
                {{else}}
                    -
                {{/if}}
              </td>
              <td class="text-center">
                <a {{action 'edit' weight}} class="black" title="Edit Weight">
                  <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a {{action 'deleteModal' weight}} class="black" title="Delete Weight">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
</div>
