
<div id="graph">
</div>

<div id="left_container">
    <div id="control_panel">
        Control Panel<br />
    </div>
    <div>
        <table id="weights"
               class="table table-condensed table-bordered table-hover">
            <thead>
            <tr id="table_nav">
                <td colspan="5">
            <span title="Previous Page"
              {{bind-attr class=":pull-left prevDisabled:control_disabled:control"}}
              {{action "prevPage" on="click"}}>
              &laquo;&laquo;
            </span>
                    <span>Weights</span>
              <span title="Next Page"
                {{bind-attr class=":pull-right nextDisabled:control_disabled:control"}}
                {{action "nextPage" on="click"}}>
              &raquo;&raquo;
            </span>
                  {{#link-to 'weights.new' class="pull-right" title="Add Weight"}}
                      <i class="glyphicon glyphicon-plus"></i>
                  {{/link-to}}
                </td>
            </tr>
            <tr>
                <td><strong>Date</strong></td>
                <td class="weight_width"><strong>Weight(Kg)</strong></td>
                <td class="weight_width"><strong>Lost(Kg)</strong></td>
                <td class="text-center">-</td>
            </tr>
            </thead>
            <tbody>
            {{#each controller as |weight|}}
                <tr>
                    <td>
                      {{weight.formatted_date}}
                    </td>
                    <td class="weight">
                      {{weight.formatted_weight}}
                    </td>
                    <td class="{{table-cell-class weight.model.lost}} weight">
                      {{#if weight.lost}}
                        {{weight-format weight.lost}}
                      {{else}}
                          -
                      {{/if}}
                    </td>
                    <td class="text-center">
                        <i class="glyphicon glyphicon-trash"></i>
                        <i class="glyphicon glyphicon-edit"></i>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
