
<div id="graph">
</div>

<div id="left_container">
  <div id="control_panel">
    <table id="weights"
           class="table table-condensed table-bordered table-hover">
      <thead>
        <tr class="table_nav">
          <td colspan="2">
            {{#link-to 'weights.new' class="pull-right" title="Edit User"}}
              <i id="edit_user" class="glyphicon glyphicon-edit"></i>
            {{/link-to}}
            <div id="table_title">Profile/Stats</div>
          </td>
        </tr>
      </thead>
      <tbody>
        {{#each controller.stats as |stat|}}
          <tr>
            <td class="stats_title">Name</td>
            <td>{{stat.name}}</td>
          </tr>
          <tr>
            <td class="stats_title">Sex</td>
            <td>{{stat.sex}}</td>
          </tr>
          <tr>
            <td class="stats_title">Height(m)</td>
            <td>{{stat.height}}</td>
          </tr>
          <tr>
            <td class="stats_title">Start Weight(Kg)</td>
            <td>{{stat.startWeight}}</td>
          </tr>
          <tr>
            <td class="stats_title">Current Weight(Kg)</td>
            <td>{{stat.currentWeight}}</td>
          </tr>
          <tr>
            <td class="stats_title">Target Weight(Kg)</td>
            <td>{{stat.targetWeight}}</td>
          </tr>
          <tr>
            <td class="stats_title">Weight to go for target(Kg)</td>
            <td>{{stat.weightToTarget}}</td>
          </tr>
          <tr>
            <td class="stats_title">Estimated date target weight hit</td>
            <td>{{stat.formattedDateToTarget}}</td>
          </tr>
          <tr>
            <td class="stats_title">Change last week(Kg)</td>
            <td class="{{table-cell-class stat.changeLastWeek}}">
              {{stat.changeLastWeek}}
            </td>
          </tr>
          <tr>
            <td class="stats_title">Change last month(Kg)</td>
            <td class="{{table-cell-class stat.changeLastMonth}}">
              {{stat.changeLastMonth}}
            </td>
          </tr>
          <tr>
            <td class="stats_title">Change last year(Kg)</td>
            <td class="{{table-cell-class stat.changeLastYear}}">
              {{stat.changeLastYear}}
            </td>
          </tr>
          <tr>
              <td class="stats_title">Change all time(Kg)</td>
              <td class="{{table-cell-class stat.changeAllTime}}">
                {{stat.changeAllTime}}
              </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div>
    <table id="weights"
           class="table table-condensed table-bordered table-hover">
        <thead>
          <tr class="table_nav">
            <td colspan="5">
              {{#link-to 'weights.new' class="pull-right" title="Add Weight"}}
                <i id="add_weight" class="glyphicon glyphicon-plus"></i>
              {{/link-to}}
              <div id="table_title">
                <span title="Previous Page"
                  {{bind-attr class=":pull-left prevDisabled:control_disabled:control"}}
                  {{action "prevPage" on="click"}}>
                  &laquo;&laquo;
                </span>
                Weights
                <span title="Next Page"
                  {{bind-attr class=":pull-right nextDisabled:control_disabled:control"}}
                  {{action "nextPage" on="click"}}>
                  &raquo;&raquo;
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td class="date_width"><strong>Date</strong></td>
            <td class="weight_width"><strong>Weight(Kg)</strong></td>
            <td class="weight_width"><strong>Lost(Kg)</strong></td>
            <td class="text-center">-</td>
          </tr>
        </thead>
        <tbody>
          {{#each controller as |weight|}}
            <tr>
              <td>
                {{weight.formatted_date}}
              </td>
              <td class="weight">
                {{weight.formatted_weight}}
              </td>
              <td class="{{table-cell-class weight.lost}} weight">
                {{#if weight.lost}}
                  {{weight-format weight.lost}}
                {{else}}
                    -
                {{/if}}
              </td>
              <td class="text-center">
                <i class="glyphicon glyphicon-trash"></i>
                <i class="glyphicon glyphicon-edit"></i>
              </td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
</div>
