<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <link rel="icon" sizes="16x16"
              href="{{asset('bundles/weighttracker/images/favicon.ico')}}" />
        {% block stylesheets %}
            {%  stylesheets
                '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'
                '@weighttrackerBundle/Resources/public/css/styles.css'
                filter='uglifycss'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {%  endstylesheets %}
        {%  endblock %}
        {% block head %}{% endblock %}
    </head>

    <body>
        <div id="opaque"></div>
        <div id="header">
            <img id="logo" alt=""
                 src="{{ asset('bundles/weighttracker/images/logo.png') }}">
        </div>

        {% verbatim %}
            <script type="text/x-handlebars">
                <div id="outer" class="text-center">
                    {{outlet "main"}}
                </div>
                {{outlet "modal"}}
            </script>
        {% endverbatim %}

        {% block javascripts %}
            {% javascripts
                '//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js'
                '//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js'
                '//cdnjs.cloudflare.com/ajax/libs/ember.js/1.5.1/ember.min.js'
                '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'
                '@weighttrackerBundle/Resources/public/js/templates/*.hbs'
                '@weighttrackerBundle/Resources/public/js/app.js'

                '@weighttrackerBundle/Resources/public/js/routes/*.js'
                '@weighttrackerBundle/Resources/public/js/models/*.js'
                '@weighttrackerBundle/Resources/public/js/views/*.js'
                '@weighttrackerBundle/Resources/public/js/controllers/*.js'

                filter='uglifyjs2'
            %}
                <script type="text/javascript" src="{{asset_url}}"></script>
            {% endjavascripts %}
        {% endblock %}

    </body>

</html>