<div class="row" style="margin-bottom:18px;">
    <div class="col-md-4"  style="text-align:left;padding-left:0px;">
        <div style="border:1px solid #000000;margin-bottom:18px;padding:0;">
            <h5 class="header" style="margin:0;padding:7px 0 0 5px;
                                      color:#FFFFFF;height:30px;">
                <strong>Add</strong>
            </h5>
            <div style="padding:10px;">
                <form role="form" {{action "login" on="submit"}}>
                    <div class="form-group">
                        <label for="weight">Weight(Kg)</label>
                        {{view Ember.TextField valueBinding="weight" id="weight"
                               type="text" class="form-control input-sm"
                               autocomplete="off"}}
                        {{#if weightErrorMessage}}
                            <p class="text-danger">{{weightErrorMessage}}</p>
                        {{/if}}
                    </div>
                    <div class="form-group">
                        <label for="weight">Date</label>
                        {{view Ember.TextField valueBinding="date" id="date"
                               type="text" class="form-control input-sm"
                               autocomplete="off"}}
                        {{#if dateErrorMessage}}
                            <p class="text-danger">{{dateErrorMessage}}</p>
                        {{/if}}
                    </div>
                    <div>
                        <button id="create_account" type="submit"
                                class="btn btn-sm">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div style="border:1px solid #000000;padding:0;">
            <h5 class="header" style="margin:0;padding:7px 0 0 5px;
                                      color:#FFFFFF;height:30px;">
                <strong>Customise Data</strong>
            </h5>
            <div style="padding:10px;">
                <form role="form" {{action "login" on="submit"}}>
                <div class="form-group">
                    <label for="weight">Date(From)</label>
                    {{view Ember.TextField valueBinding="weight" id="weight"
                    type="text" class="form-control input-sm"
                    autocomplete="off"}}
                    {{#if weightErrorMessage}}
                    <p class="text-danger">{{weightErrorMessage}}</p>
                    {{/if}}
                </div>
                <div class="form-group">
                    <label for="weight">Date(To)</label>
                    {{view Ember.TextField valueBinding="date" id="date"
                    type="text" class="form-control input-sm"
                    autocomplete="off"}}
                    {{#if dateErrorMessage}}
                    <p class="text-danger">{{dateErrorMessage}}</p>
                    {{/if}}
                </div>
                <div class="form-group">
                    <label for="weight">Scale</label>
                    {{view Ember.TextField valueBinding="date" id="date"
                      type="text" class="form-control input-sm"
                      autocomplete="off"}}
                    {{#if dateErrorMessage}}
                        <p class="text-danger">{{dateErrorMessage}}</p>
                    {{/if}}
                </div>
                <div>
                    <button id="create_account" type="submit"
                            class="btn btn-sm">
                        Submit
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8" style="border:1px solid #000000;height:550px;padding:0;margin:0;">
        <h5 class="header" style="margin:0;padding:7px 0 0 5px;
                                      color:#FFFFFF;height:30px;">
            <strong>Graph</strong>
            <a style="float:right;padding-right:5px;color:#FFFFFF;" href="#"
               title="View tabular data">
                <span class="glyphicon glyphicon-list-alt"></span>
            </a>
        </h5>
    </div>
</div>
