<div class="container-fluid">
    <div id="header">
        <div id="welcome">
            {{#if session.isAuthenticated}}
              Welcome back,
              {{session.secure.name}}&nbsp;|&nbsp;<a {{action 'invalidateSession'}}>logout</a>
            {{else}}
              {{#link-to 'login'}}Login{{/link-to}}
            {{/if}}
        </div>
        <div id="header_content">
          <h1>
            {{#if session.isAuthenticated}}
              {{#link-to 'weights'}}WeightTracker{{/link-to}}
            {{else}}
              {{#link-to 'index'}}WeightTracker{{/link-to}}
            {{/if}}
          </h1>
        </div>
    </div>
    <div id="main" class="row-fluid">
        <div id="sub_main">
          {{outlet}}
        </div>
    </div>
    <div id="footer">WeightTracker v0.1</div>
</div>
