
<div id="graph">
    Graph
</div>
<div id="left_container">
    <div id="control_panel">
        Control Panel
    </div>
    <div>
      <table id="weights"
             class="table table-condensed table-bordered table-hover">
        <thead>
          <tr id="table_nav">
            <td colspan="4">
              <span class="pull-left control"
                {{action "prevPage" on="click"}}>
                &laquo;&laquo;
              </span>
              <span>Weights</span>
              <span class="pull-right control"
                {{action "nextPage" on="click"}}>
                &raquo;&raquo;
              </span>
            </td>
          </tr>
          <tr>
            <td><strong>Date</strong></td>
            <td><strong>Weight(Kg)</strong></td>
            <td><strong>Diff(Kg)</strong></td>
            <td><strong>Gone(Kg)</strong></td>
          </tr>
        </thead>
        <tbody>
          {{#each weight in weights}}
            <tr {{action "viewWeight" on="click"}}>
              <td>
                {{date-format weight.date}}
              </td>
              <td class="weight">
                {{weight-format weight.weight}}
              </td>
              <td class="{{table-cell-class weight.difference}} weight">
                {{#if weight.difference}}
                  {{weight-format weight.difference}}
                {{else}}
                  -
                {{/if}}
              </td>
              <td class="{{table-cell-class weight.gone}} weight">
                {{#if weight.gone}}
                  {{weight-format weight.gone}}
                {{else}}
                    -
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
</div>