<div class="form">
  <fieldset>
    <legend>Register</legend>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          {{input class="form-control" value=model.email}}
          {{#if errors.email}}
            <div class="error">{{errors.email}}</div>
          {{/if}}
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          {{input type="password" class="form-control"
            value=model.password}}
          {{#if errors.password}}
            <div class="error">{{errors.password}}</div>
          {{/if}}
        </div>
        <div class="form-group">
          <label for="repeat_password">Repeat Password</label>
          {{input type="password" class="form-control"
            value=model.repeat_password}}
          {{#if errors.repeat_password}}
              <div class="error">{{errors.repeat_password}}</div>
          {{/if}}
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          {{input class="form-control" value=model.name}}
          {{#if errors.name}}
              <div class="error">{{errors.name}}</div>
          {{/if}}
        </div>
        <div class="form-group">
          <label for="date_of_birth">Date of Birth</label>
          <div class="row">
            <div class="col-md-6">
              {{jqui-datepicker  class="form-control" readonly="readonly"
                changeMonth=true changeYear=true yearRange="1900:c"
                maxDate="0" dateFormat="MM d, yy" value=model.formatted_date}}
            </div>
          </div>
          {{#if errors.date_of_birth}}
            <div class="error clear">{{errors.date_of_birth}}</div>
          {{/if}}
        </div>
        <div class="form-group">
          <label for="sex">Sex</label>
          <div class="row">
            <div class="col-xs-4">
              {{view "select" class="form-control" content=sex
                value=model.sex}}
            </div>
          </div>
          {{#if errors.sex}}
            <div class="error clear">{{errors.sex}}</div>
          {{/if}}
        </div>
        <div class="form-group">
          <label for="height">Height(cm)</label>
          <div class="row">
            <div class="col-xs-4">
              {{input class="form-control" maxlength="3" value=model.height}}
            </div>
          </div>
          {{#if errors.height}}
            <div class="error clear">{{errors.height}}</div>
          {{/if}}
        </div>
        <div class="form-group">
          <label for="weight">Weight(kg)</label>
          <div class="row">
            <div class="col-xs-4">
              {{input class="form-control" maxlength="6" value=model.weight}}
            </div>
          </div>
          {{#if errors.weight}}
              <div class="error clear">{{errors.weight}}</div>
          {{/if}}
        </div>
        <div class="form-group">
          <label for="target_weight">Target Weight(kg)</label>
          <div class="row">
            <div class="col-xs-4">
              {{input class="form-control" maxlength="6"
                value=model.target_weight}}
            </div>
          </div>
          {{#if errors.target_weight}}
            <div class="error clear">{{errors.target_weight}}</div>
          {{/if}}
        </div>
      </form>
      <div class="pull-right">
        <button type="button" class="btn btn-default"
          {{action "cancel" on="click"}}>
            Cancel
        </button>
        <button type="button" class="btn btn-primary"
          {{action "register" on="click"}}>
          Register
        </button>
      </div>
  </fieldset>
</div>

