<div id="myModal"
    {{bind-attr class=":modal :fade :in showAddEditWeight:show:hide"}}>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true"
                  {{action "viewWeight" on="click"}}>
                    &times;
                </button>
                <h4 class="modal-title">Edit Weight</h4>
            </div>
            <div class="modal-body">
              Date:{{model.date}}
                {{date}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                  {{action "viewWeight" on="click"}}>
                    Close
                </button>
                <button type="button" class="btn btn-danger"
                  {{action "viewWeight" on="click"}}>
                    Delete
                </button>
                <button type="button" class="btn btn-primary"
                  {{action "viewWeight" on="click"}}>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>